@import '~antd/lib/style/themes/default.less';

.filter {

  display: flex;
  justify-content: space-between;

  .date {
    margin-left: 10px;
  }
}

.advPreview {
  transform: scale(1) !important;

}



.advPreviewWrap {
  height: 360px;
  overflow: hidden;
  position: relative;
  margin: 0 7px;
  margin-bottom: 15px;

  &:hover {
    .top {
      display: block !important;
    }
  }

  .mask {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;

    .top {
      width: 100%;
      height: 70px;
      box-sizing: border-box;
      padding: 10px 5px;
      background-color: rgba(191, 191, 191, 0.8);
      color: #000;
      line-height: 1.7;
      display: none;
      cursor: pointer;
    }

    .bottom {
      width: 100%;
      background-color: #fff;
      text-align: center;
      line-height: 50px;
      height: 50px;
      color: #000;
      cursor: pointer;
    }
  }
}


.advWarp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.previewAdv {
  width: 352px;
  user-select: none;

  .header {
    display: flex;
    padding: 4px;

    .logo {
      width: 40px;
    }

    .info {
      flex: 1;
      margin-left: 10px;

      .appName {
        font-size: @font-size-sm;
      }
    }
  }

  .content {
    .contentText {
      font-size: @font-size-sm;
      margin: 6px 0 10px;
      padding-left: 4px;
      padding-right: 4px;
    }

    .media {
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      min-height: 252px;
    }
  }

  .footer {
    display: flex;
    padding: 10px;
    background: #fbfbfb;
    align-items: center;

    .title {
      font-size: @font-size-sm;
      flex: 1;
    }

    .donwload {
      font-size: @font-size-sm;
    }
  }
}
