@import '~antd/es/style/themes/default.less';

.main{
    width: 440px;
    margin: 0 auto;
    position: fixed;
    right: 200px;
    top: 200px;
    padding: 20px 40px;
    background: #fff;
    border-radius: 10px;
    border-top: 10px solid #f05525;
    .register{
        font-size: @font-size-sm;
        color: @blue-base;
        margin-top: @margin-xs;
        cursor: pointer;
    }
}