@import '~antd/es/style/themes/default.less';

.main {
  :global {
    .anticon {
      font-size: 20px;
    }

    .@{ant-prefix}-badge-status-dot {
      width: 10px;
      height: 10px;
    }
  }
}
