@import '~antd/lib/style/themes/default.less';

.tables{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    thead th{
        background: #f0f2f5;
        position: -webkit-sticky;
        position: sticky;
        top: 50px;
        height: 50px;
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid #f2f3f6;
    }
}