@import '~antd/lib/style/themes/default.less';
:global{
  .ant-tree-list,.ant-tree-treenode,.ant-tree-node-content-wrapper{
    width:100%;
    display:block;
  }
}
.nodeTitleWrap{
  width:100%;
  display: flex;
  justify-content: space-between;
  .switch{
    text-align: right;
  }
}