@import '~antd/lib/style/themes/default.less';

.a-r {
  justify-content: right;
}
:global{

  .ant-checkbox-group-item{
    display:block;
  }
  th{
    position:relative;
  }
  
}
.advManager{
  .advTb{
    min-width: 800px;
    tr{
      th:nth-child(2){
        .thTitle{
          justify-content:flex-start !important;
        }
      }
      th{
        .thTitle{
          width:100%;
          display:flex;
          justify-content:center;
          align-items: center;
          // .th-icon{
          //   position:absolute;
          //   bottom:30%;
          //   right:2px;
          // }
        }
      }
    }
    tr>td{
      white-space: nowrap;
      text-align: center;
    }
  }
  .advName{
    display:flex;
    justify-content: space-between;
    align-items: center;
    .name{
      flex: 1;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .advTabs{
    :global{
      .ant-tabs-nav-list{
        width:100%;
      }
      .ant-tabs-tab{
        width:33% !important;
        justify-content: center;
      }
    }
  }
}

