@import '~antd/lib/style/themes/default.less';

.navname{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    .desc{
        text-align: center;
        font-size: 14px;
        color: #aaa;
    }
}
.crowdPack{
    .packs{
        // display: flex;
        border-bottom: 1px solid rgba(0,0,0,.1);
        .title{
            // width: 20px;
            text-align: center;
            padding: 10px 20px;
            // border-right: 1px solid rgba(0,0,0,.1);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .text{
                background-color: rebeccapurple;
                color: #fff;
                padding: 4px 10px;
                border-radius: 4px;
                font-size: 12px;
            }
        }
        .desc{
            text-align: center;
            font-size: 14px;
            color: #aaa;
        }
    }
    .packList{
        flex: 1;
        padding: 20px 10px 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .item{
        cursor: pointer;
        user-select: none;
        width: 180px;
        height: 180px;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px;
        box-shadow: @shadow-2;
        display: flex;
        flex-direction: column;
        position: relative;
        border: 1px solid rgba(0,0,0,.1);
        &:hover{
            background: rgba(232,233,255,.5);
        }
        &.active{
            border: 1px solid @primary-color;
        }
        .count{
            color: #888888;
            font-size: 12px;
            margin-top: 10px;
        }
        .baseDesc{
            color: @primary-color;
            font-size: 12px;
            padding: 0 10px;
            margin-top: 10px;
        }
    }
}

.popover{
    font-size: 12px;
    min-width: 200px;
    &.base{
        color: @primary-color;
    }
    .exname{
        padding: 4px 0;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        margin-bottom: 10px;
    }
}