@import '~antd/lib/style/themes/default.less';

.materialBox{
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #ccc;
    cursor: pointer;
    user-select: none;
    &.active{
        box-shadow: 0 0 4px @primary-color;
        .check{
            background-color: @primary-color;
        }
    }
    &.isMedia{
        width: 180px;
        height: 260px;
    }
    &.isText{
        width: 220px;
        height: 160px;
    }
    .imgOrVideo{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        img,video{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .text{
        width: 100%;
        height: 100%;
        font-size: 12px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rank,.edit{
        position: absolute;
        top: 0px;
        left: 0px;
        background: @primary-color;
        width: 20px;
        text-align: center;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #ffffff;
        border-radius: 50%;
    }
    .edit{
        top: 20px !important;
        left: calc(100% - 10px);
    }
    .close{
        position: absolute;
        top: -10px;
        right: -10px;
        color: #cccccc;
        font-size: 20px;
        cursor: pointer;
    }
    .check{
        width: 20px;
        height: 20px;
        background: #cccccc;
        color: #ffffff;
        position: absolute;
        font-size: 16px;
        right: 0px;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
